@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face {
    font-family: 'kokumr';
    src: url('./fonts/kokumr.ttf');
}

body {
    margin: 0;
    font-family: 'kokumr';
    padding-bottom: 100px;
}

a { color: black; }

form p {
    margin-bottom: 5px;
}

.form {
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    border: #7c7c7c 1px solid;
}

.submit {
    width: 50px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: #7c7c7c 1px solid;
}

.top {
    font-family: 'Pacifico', cursive;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.item {
    color: white;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.item a {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tw {
    background-color: #1da1f2;
}

.fb {
    background-color: #3b5998;
}

.gh {
    background-color: #333;
}

.sp {
    background-color: #2ebd59;
}

.content {
    margin-top: 5em;
}

.content h1 {
    font-size: 2em;
}

.body {
    padding-left: 2em;
}

@media (max-width: 800px) {
    h1 {
        font-size: 10vw;
    }

    .contents {
        width: 90vw;
        margin: 0 auto;
    }
}

@media (min-width: 801px) {
    h1 {
        font-size: 5vw;
    }

    .contents {
        width: 40vw;
        margin: 0 auto;
    }
}
